$vw: 19.2;

html,
body,
#app {
  height: 100%;
}

// 卡片样式
.card {
  border-radius: (10vw / $vw);
  padding: (10vw / $vw);
  background-color: white;
  box-shadow: (2vw / $vw) (2vw / $vw) (2vw / $vw) (1vw / $vw) rgba(0, 0, 0, .6);
}

// 面包屑导航
.breadcrumb {
  display: flex;
  align-items: center;
  margin-bottom: (10vw / $vw);

  i {
    margin: 0 (5vw / $vw);
  }
}
